.tasklist {
  padding: 8px;
  background-color: #5797b9;
  border-radius: 2px;
}

.tasklist .title {
  padding: 4px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tasklist .content {
  padding: 16px 4px;
  display: flex;
  flex-direction: column;
}

.tasklist .content .empty-list {
  text-align: center;
  border: 1px dashed white;
  border-radius: 4px;
  padding: 4px;
}

.tasklist .btn {
  margin-top: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 3px;
  color: white;
  background: #00b8d4;
  transition: background-color 0.3s;
}

.tasklist .btn:hover {
  background-color: #0091a8;
  cursor: pointer;
}

.tasklist .btn img {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}
